@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.pagItem{
  @apply cursor-pointer;
  @apply bg-white;
  @apply border-gray-300;
  @apply text-gray-500;
  @apply inline-flex;
  @apply relative;
  @apply items-center;
  @apply px-4;
  @apply py-2;
  @apply border;
  @apply text-sm;
  @apply font-medium;
}

.pagItem:hover{
  @apply bg-gray-50;
}
.pagItem.active:hover{
  @apply bg-gray-50;
}

.pagItem.active{
  @apply z-10;
  @apply bg-main-50;
  @apply border-main-500;
  @apply text-main-600;
  @apply relative;
  @apply inline-flex;
  @apply items-center;
  @apply px-4;
  @apply py-2;
  @apply border;
  @apply text-sm;
  @apply font-medium;
  @apply cursor-pointer;
}

.badge-open{
  @apply bg-green-500
}
.badge-hold{
  @apply bg-red-500
}
.badge-swapping{
  @apply bg-yellow-500
}
.badge-extracted{
  @apply bg-gray-500
}
